* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*VARIABLES*/

  @import "variables";
 
  /*HEADER*/
  //HEADER

.header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .tableTop a {
    display: block;
    padding: 0%;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    //PSEUDOCLASE
    &:hover {
      color: white;
    }
  }
  /*NAVBAR*/
  //NAVBAR

  .navbar {
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  
  .tamLogo {
    width: 150px;
  }
  
  .navbar-nav {
    text-align: end;
    padding: 20px;
  
    li a {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: inline-block;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-weight: lighter;
      font-size: 20px;
      letter-spacing: 1px;
      transition: 0.7s;
    }
  }
  /*CAROUSEL*/
  //CAROUSEL
  
  .carousel {
    h5 {
      font-size: xxx-large;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    p {
      font-size: x-large;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  /*CHATIMAGE-WPP*/
  //CHATIMAGE-WPP
  
  .chatimage {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    fill: green;
  }
  /*SECTION*/
  //SECTION

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: x-large;
  }
  
  .shops {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .font {
    text-decoration: $text-decoration;
  }
  /*MAIN-SMOKE-INDEX*/
  //MAIN-SMOKE-INDEX

  .nameProduct {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: $text-decoration;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .precio {
    text-align: center;
    padding-bottom: 20%;
    font-size: xx-large;
  }
  
  .row-products > div {
    padding: 1rem;
  }
  /*FOOTER*/
  //FOOTER

  footer {
    justify-content: space-between;
  }
  
  .container-footer {
    width: 100%;
  }
  
  .container-social {
    background-color: rgb(25, 25, 25);
  }